  <main>
<h1>Listado de Productos</h1>
<ul>
  <% for( let i = 0; i < products.length; i++ ) { %>
  <li>
    <a href="/products/detail/<%= products[i].id %> ">
    <%= products[i].name %> </a>
    <%= products[i].categories.description %> 
    <%= products[i].packages.description %> 

  </li>
  <% } %>
</ul>
   </main>


         <main>
<h1>Listado de Productos</h1>
<ul>
  <% for( let i = 0; i < categories.length; i++ ) { %>
  <li>
    
    <%= categories[i].description %> </a>
    
  

  </li>
  <% } %>
</ul>
   </main>



        <div class="home-banners">
        <img
          src="https://images.squarespace-cdn.com/content/v1/5e7c10d0cc95f518282dbf0c/1587665808500-FZO4SCXWMMSP5BNMOK1E/apm-dibi-pure-equalizer-line-banner.jpg"
          alt="rostro de mujer"
        />
        <h2><a href="#">Limpieza</a></h2>
      </div>

           <div class="home-banners">
        <img
          src="https://www.skinforlife.net/wp-content/uploads/2020/11/spapineda-banner-one-iii.jpg"
          alt="rostro de mujer"
        />
        <h2><a href="#">Línea Antiage</a></h2> 
      </div>

        <div class="home-banners">
        <img
          src="https://www.skinforlife.net/wp-content/uploads/2020/11/spapineda-banner-one-iii.jpg"
          alt="rostro de mujer"
        />
        <h2><a href="#">Línea Solares</a></h2> 
      </div>

        <div class="home-banners">
        <img
          src="https://www.skinforlife.net/wp-content/uploads/2020/11/spapineda-banner-one-iii.jpg"
          alt="rostro de mujer"
        />
        <h2><a href="#">Maquillaje</a></h2> 
      </div>

      <%- include('partials/footer.ejs')%>