<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: "Iniciá Sesión"})%>
  <body>
    <%- include('../partials/header.ejs')%>
    <main class="login-main">
      <form action="/users/login" method="POST" class="form-login">
        <div class="form-element-login form-floating mb-3">
          <input
            type="email"
            name="email"
            placeholder="Correo electrónico"
            id="email"
            class="<%= (locals.errors && errors.email) ? 'is-invalid' : null %> form-control email"
            value="<%= (locals.oldData) ? oldData.email : null %>"
          />
          <label for="email">Email</label>
          <h2 class="email"></h2>
          <% if (locals.errors && errors.email) { %>
          <span class="feedback"> <%= errors.email.msg %> </span>
          <% } %>
        </div>

        <div class="form-element-login form-floating mb-3">
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            class="<%= (locals.errors && errors.password) ? 'is-invalid' : null %> form-control password"
          />
          <label for="password">Contraseña</label>
          <h2 class="password"></h2>
          <% if (locals.errors && errors.password) { %>
          <span class="feedback"> <%= errors.password.msg %> </span>
          <% } %>
        </div>

        <div class="form-element-login">
          <button type="submit" class="btn btn-outline-primary" value="login" style="margin-right: 10px">
            Iniciar Sesión
          </button>
          <a href="/" >
        <button type="button" class="form-boton btn btn-outline-primary" >
        Cancelar
      </button></a>
        </div>

        <div class="form-element-login">
          <div class="login-remember">
            <label for="rememberUser">Recordar usuario y contraseña</label>
            <input type="checkbox" id="rememberUser" name="rememberUser" />
          </div>
        </div>

        <div class="form-element-login">
          <a href="#" class="login-forgot-password"
            >¿Olvidaste la contraseña?</a
          >
        </div>
        <div class="form-element-login">
          <a href="#" class="login-create-account">Crear una cuenta</a>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script src="/js/login.js"></script>
  </body>
</html>
