<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: "Registro"})%>
  <body>
    <%- include('../partials/header.ejs')%>
    <main class="register-main container">
      <form
        action="/users/register"
        method="POST"
        class="form-register"
        enctype="multipart/form-data"
      >
        <h1>Crear cuenta</h1>

        <div class="errores">
          <ul></ul>
        </div>

        <div class="form-element form-control">
          <label for="first_name">Nombres:</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            placeholder="Ingresá tu nombre"
            class="<%= (locals.errors && errors.first_name) ? 'is-invalid' : null %> first_name"
            value="<%= (locals.oldData) ? oldData.first_name : null %>"
          />
          <h2 class="first_name"></h2>
          <% if (locals.errors && errors.first_name) { %>
          <span class="feedback first_name">
            <%= errors.first_name.msg %>
          </span>
          <% } %>
        </div>

        <div class="form-element form-control">
          <label for="last_name">Apellido:</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            placeholder="Ingresá tu apellido"
            class="<%= (locals.errors && errors.last_name) ? 'is-invalid' : null %> last_name"
            value="<%= (locals.oldData) ? oldData.last_name : null %>"
          />
          <h2 class="last_name"></h2>
          <% if (locals.errors && errors.last_name) { %>
          <span class="feedback"> <%= errors.last_name.msg %> </span>
          <% } %>
        </div>

        <div class="form-element form-control">
          <label for="dni">DNI:</label>
          <input
            type="number"
            name="dni"
            id="dni"
            placeholder="Ingresá tu DNI (sin puntos. Ej. 12345678)"
            class="<%= (locals.errors && errors.dni) ? 'is-invalid' : null %> dni"
            value="<%= (locals.oldData) ? oldData.dni : null %>"
          />
          <h2 class="dni"></h2>
          <% if (locals.errors && errors.dni) { %>
          <span class="feedback"> <%= errors.dni.msg %> </span>
          <% } %>
        </div>

        <!--
        Importante! para que la validación del email, del lado del front, pueda ejecutarse, tuve que cambiar el 
        type del input. Pasarlo de “email”, a “text”, porque si no hago eso, el formulario directamente no permite
        hacer submit, si la expresión a validar no cumple con el tipo email. Pero tampoco muestra ningún error...
        Para que la expresión a validar viaje, es que paso el tipo del input a text.. y en ese caso será la función
        validarEmail la que la analice en base a la expresión regular que le haya pasado y muestre los errores 
        correspondientes
        -->
        
        <div class="form-element form-control">
          <label for="email">E-mail:</label>
          <input
            type="text" 
            id="email"
            name="email"
            placeholder="Ingresá tu correo"
            class="<%= (locals.errors && errors.email) ? 'is-invalid' : null %> email"
            value="<%= (locals.oldData) ? oldData.email : null %>"
            required
          />
          <h2 class="email"></h2>
          <% if (locals.errors && errors.email) { %>
          <span class="feedback"> <%= errors.email.msg %> </span>
          <% } %>
        </div>

        <div class="form-element form-control">
          <label for="phone">Celular:</label>
          <input
            type="number"
            name="phone"
            id="phone"
            placeholder="Ingresá tu celular (sólo números)"
            class="<%= (locals.errors && errors.phone) ? 'is-invalid' : null %> phone"
            value="<%= (locals.oldData) ? oldData.phone : null %>"
          />
          <h2 class="phone"></h2>
          <% if (locals.errors && errors.phone) { %>
          <span class="feedback"> <%= errors.phone.msg %> </span>
          <% } %>
        </div>

        <div class="form-element form-control">
          <label for="image">Foto de perfil:</label>
          <input
            type="file"
            name="image"
            id="image"
            accept=".jpg, .png, .jpeg, .gif"
            class="image"
            
          />
          <!--value="Dado que la imagen no viaja por el body, persistir la imagen seleccionada excede nuestros conocimientos actuales-->
          <h2 class="image"></h2>
          <% if (locals.errors && errors.image) { %>
          <span class="feedback"> <%= errors.image.msg %> </span>
          <% } %>
        </div>

        <div class="form-element form-control">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Elegí una contraseña"
            class="<%= (locals.errors && errors.password) ? 'is-invalid' : null %> password"
          />
          <h2 class="password"></h2>
          <% if (locals.errors && errors.password) { %>
          <span class="feedback"> <%= errors.password.msg %> </span>
          <% } %>
        </div>

        <div class="form-element form-control">
          <label for="repeatPassword">Repetir contraseña:</label>
          <input
            type="password"
            name="repeatPassword"
            id="repeatPassword"
            placeholder="Repetí tu contraseña"
            class="<%= (locals.errors && errors.repeatPassword) ? 'is-invalid' : null %> repeatPassword"
          />
          <h2 class="repeatPassword"></h2>
          <% if (locals.errors && errors.repeatPassword) { %>
          <span class="feedback"> <%= errors.repeatPassword.msg %> </span>
          <% } %>
        </div>

        <div class="form-element form-control">
          <div class="form-botonera">
            <button type="submit" value="REGISTRAR" class="form-boton">
              Crear cuenta
            </button>

            <button type="reset" value="LIMPIAR" class="form-boton">
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </main>
    <%- include('../partials/footer.ejs')%>
    <script src="/js/register.js"></script>
  </body>
</html>
