<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: "Editando producto:" + products.id })%>

<body>
  <%- include('../partials/header.ejs')%>
  <main class="register-main">
    <!--REEMPLAZAR "products" por "product"-->
    <form action="/products/edit/<%= products.id %>?_method=PUT" method="POST" class="form-register"
      enctype="multipart/form-data">
      <h1>Editando producto: <%= products.id %></h1>

      <div class="form-element">
        <label for="product_name">Nombre de producto:</label>
        <input type="text" id="product_name" name="name" value="<%= products.name %>" required />
        <span class="feedback"></span>
      </div>

      <div class="form-element">
        <label for="product_price">Precio:</label>
        <input type="number" name="price" id="product_price" value="<%= products.price %>" required />
        <span class="feedback"></span>
      </div>

      <div class="form-element">
        <label for="product_description">Descripción del producto:</label>
        <textarea name="description" id="product_description" cols="30" rows="10" required>
<%= products.description %></textarea>
        <span class="feedback"></span>
      </div>

      <div class="form-element">
        <label for="product_package">Package:</label>
        <input type="text" id="product_package" name="package" value="<%= products.package %>" required />
        <span class="feedback"></span>
      </div>

      <div class="form-element">
        <label for="image">Imagen Producto:</label>
        <input type="file" id="image" name="image" />
      </div>

      <div class="form-element">
        <label for="product_category">Categoría:</label>

        <!-- DDBB
        <% for( let i = 0; i < category.length; i++ ) { %>
        //si la categoria que estoy por imprimir es la misma que ya tiene el producto:
        <% if (category[i].id == product.category_id) { %>
        <option value="<%= category[i].id %> " selected>
          <%= category[i].name %>
        </option>
        <% } else { %>
        <option value="<%= category[i].id %> ">
          <%= category[i].name %>
        </option>
        <% } %>
        <% } %>
        -->


        <select name="category" id="product_category" required>
          <option value="categoria-1" <%= (products.category == "categoria-1") ? "selected" : "";%>>Cuidados básicos
          </option>
          <option value="categoria-2" <%= (products.category == "categoria-2") ? "selected" : "";%>>Antiage</option>
          <option value="categoria-3" <%= (products.category == "categoria-3") ? "selected" : "";%>>Solares</option>
          <option value="categoria-4" <%= (products.category == "categoria-4") ? "selected" : "";%>>Maquillaje</option>
        </select>

        <span class="feedback"></span>
      </div>

      <div class="form-element">
        <div class="form-botonera">
          <button type="submit" value="updetear" class="form-boton">
            Guardar cambios
          </button>
        </div>
      </div>
    </form>
  </main>
  <%- include('../partials/footer.ejs')%>
</body>


</html>