<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs')%>

  <body>
    <%- include('partials/header.ejs')%>
    <main class="home-main">
      <div class="home-banners">
        <img
          src="https://images.squarespace-cdn.com/content/v1/5e7c10d0cc95f518282dbf0c/1587665808500-FZO4SCXWMMSP5BNMOK1E/apm-dibi-pure-equalizer-line-banner.jpg"
          alt="rostro de mujer"
        />
        <h2><a href="#">Cuidados Básicos</a></h2>
      </div>

      <section>
        <article class="home-products">
          <% for (let i = 0; i < listOfCuidadosBasicos.length; i++) { %>
            <div class="home-contenedor">
          <a href="/products/detail/<%= listOfCuidadosBasicos[i].id%>"
            ><img
              src= <%= listOfCuidadosBasicos[i].image%>
              alt=<%= listOfCuidadosBasicos[i].name%>
          /></a>
          <div><%= listOfCuidadosBasicos[i].name%></div>
          <div class="home-price">$ <%= listOfCuidadosBasicos[i].price%></div>
          </div>
          <% } %>
        </article>
      </section>
      <div class="home-banners">
        <img
          src="https://www.skinforlife.net/wp-content/uploads/2020/11/spapineda-banner-one-iii.jpg"
          alt="rostro de mujer"
        />
        <h2><a href="#">Línea Antiage</a></h2> <!--ex MAQUILLAJES-->
      </div>
      <section>
        <article class="home-products">
          <% for (let i = 0; i < listOfMaquillaje.length; i++) { %>
            <div class="home-contenedor">
          <a href="/products/detail/<%= listOfMaquillaje[i].id%>"
            ><img
              src= <%= listOfMaquillaje[i].image%>
              alt=<%= listOfMaquillaje[i].name%>
          /></a>
          <div><%= listOfMaquillaje[i].name%></div>
          <div class="home-price">$ <%= listOfMaquillaje[i].price%></div>
          </div>
          <% } %>
        </article>
      </section>
    </main>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
