<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'Resultados de tu búsqueda'}) %>

<body>
  <%- include('partials/header.ejs')%>
<div class="row row-cols-1 row-cols-md-2 g-4">
          <h2>Resultados de la búsqueda:</h2>
  <% for (let i = 0; i < productsResults.length; i++) { %>
    <div class="col-2">
        <div class="card">
          <% if (productsResults[i].status != 0) { %>                    
          <a href="/products/detail/<%= productsResults[i].id%>"><img src=<%= productsResults[i].image%>
              alt=<%= productsResults[i].name%> class="card-img-top"/></a>
          <h5 class="card-title"><%= productsResults[i].name%></h5>
          <p class="card-text">$ <%= toThousand(productsResults[i].price) %></p>
        </div>
        </div>
        <% } %>
        <% } %>
  <% if (productsResults.length == 0) { %>
      <div class="col-12">
        <h2 class="search-not-found fst-italic" >
           No hay productos que coincidan con esa búsqueda
        </h2>
      </div>
      <% } %>
  
</div>
</div>

  <%- include('partials/footer') %>
</body>

</html>
